

* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: #181818;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    display: grid;
    align-items: center;
    z-index: 1;
}

.box-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.logo h1 {
    color: transparent;
    background: linear-gradient(to right, blue, rgb(75, 75, 235));
    -webkit-background-clip: text;
    font-size: 30px;
}

.hs-nav {
    display: flex;
    gap: 15px;
}

.home-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    opacity: 80%;
}

.home-box:hover {
    opacity: 100%;
}


.search-nav {
    display: flex;
    align-items: center;
    opacity: 80%;
}

.search-box {
    background-color: #242424;
    color: #fff;
    width: 395px;
    height: 48px;
    border: 0;
    border-radius: 500px;
    margin-block: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    padding-left: 45px;
}

.search-box {
    outline: 0;
    line-height: 40px;
    cursor: text;
    text-align: start;
}

.search-nav:hover {
    opacity: 100%;
}

.search-nav input:focus {
    outline: 1px solid #fff;
    opacity: 100%;
}

.lupa-box {
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 13px;
}

.icons {
    display: flex;
    gap: 20px;
}
.icon-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
}

.menu-box {
    position: fixed;
    top: 65px;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    display: none;
}

.menu-box ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-box a {
    color: #fff;
}

.menu-toggle {
    display: flex;
    order: 2;
    cursor: pointer;
}

#menu-burger:checked + .menu-box{
    display: flex;
}

#menu-burger {
    display: none;
}

body {
    background-color: #212529;
}

.section-dest {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.dimg-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 125px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.barra1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 100%;
    opacity: 60%;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
}


.barra1:hover {
    opacity: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.barra2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 100%;
    opacity: 60%;
    background-color: rgba(0, 0, 0, .5);
    right: 0;
}


.barra2:hover {
    opacity: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.puntos { 
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: 10px;
    gap: 5px;
    opacity: 50%;
    cursor: pointer;
}

.section-pop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 100vh;
    gap: 50px;
    flex-direction: column;
}

.box-title-1 {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, blue, rgb(75, 75, 235));
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title-1 h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 15px solid blue;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    transform: rotate(90deg) ;
    position: absolute;
    left: 60px;
    top: 35px;
}

.scroll {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    right: 30px;
}

.scroll-a {
    display: flex;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, blue, rgb(75, 75, 235));
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cards-p {
    padding: 30px 30px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.card-pop {
    width: 280px;
    height: 180px;
    background-color: rgba(12, 11, 11, 0.5);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card-con-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.box-t-c {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 20px;
    left: 12px;
}

.box-t-c h1 {
    color: rgb(231, 224, 224);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.box-star-c {
    display: flex;
    flex-direction: row;
    gap: 2px;
    position: relative;
    left: 15px;
    bottom: 15px;
}

.box-caps-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
    left: 10px;
}

.bc1 {
    width: 110px;
    height: 20px;
    background: #212529;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bc1 h4 {
    color: rgb(231, 224, 224);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.section-re {
    display: flex;
    position: absolute;
    top: 150vh;
    flex-direction: column;
}

.box-t-p2{
    position: absolute;
}

.box-title2 {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, blue, rgb(75, 75, 235));
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title2 h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.triangle2 {
    width: 0; 
    height: 0; 
    border-left: 15px solid blue;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    transform: rotate(90deg) ;
    position: absolute;
    left: 60px;
    top: 35px;
}

.cards-re-pad {
padding-top: 70px;
}
.cards-re-p {
    padding: 30px 180px ;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}

.cards-re {
    width: 180px;
    height: 360px;
    background-color: rgba(12, 11, 11, 0.5);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.cards-re img {
    height: 220px;
    width: 180px;
}

.cards-re-pa {
    padding: 5px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cards-re-pa h1 {
    color: rgb(231, 224, 224);
}

.c-starts-re { 
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.cards-re-c-p {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: 15px;
}

.cards-re-caps { 
    width: 110px;
    height: 20px;
    background: #212529;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cards-re-caps h4 {
    color: rgb(231, 224, 224);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.box-plus {
    width: 750px;
    height: 45px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.box-plus-p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-plus h1 {
    color: rgb(231, 224, 224);
    font-family: 'Open Sans', sans-serif;
    
}

.separador {
    width: 100%;
    height: 10px;
    background-color: #7c5d06;
    position: absolute;
    top: 450vh;
    z-index: 1;
}

.section-contact {
    background: rgb(26, 25, 25);
    width: 100%;
    height: 420px;
    position: absolute;
    top: 450vh;
}

.c-h1 {
    color: #fff;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
}

.form {
    padding: 0 0 0 50px;
    position: relative;
    right: 10px;
}

.input {
    margin-bottom: 20px;
    position: relative;
}

.input input {
    width: 200px;
    height: 30px;
    border: 1px solid #e0dddd;
    border-radius: 5px;
    padding: 10px;
}

.submit  {
    width: 200px;
    height: 45px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit h2 {
    color: rgb(224, 206, 206);
    font-family: "Open Sans", sans-serif;
}

.footer-box {
    width: 100%;
    height: 50px;
    background-color: #7c5d06;
    position: absolute;
    top: 515vh;
}
.icons-f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    left: 45%;
    top: 10px;
}

.f-icon-box {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: #f3ca58;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
}

.f-icon-box:hover {
    background-color: #000;
    cursor: pointer;
}
.footer-t a {
    color: rgb(238, 223, 223);
    font-family: "Open Sans", sans-serif;
    position: absolute;
    left: 10px;
    bottom: 10px;
}